.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

form {
  margin: 20px 0;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.product-card ul {
  list-style: disc;
  padding-left: 20px;
}

.product-card ul li {
  margin-bottom: 5px;
}

.product-card a {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.product-card a:hover {
  text-decoration: underline;
}
